@using Aniwari.BL.Interfaces;
@using Aniwari.BL.Services;
@using Aniwari.BL.Repositories;
@using Aniwari.DAL.Jikan;
@using Aniwari.DAL.Storage;
@using Aniwari.Schedule;

@page "/schedule"

@inherits DisposableComponentBase

@inject ISettingsService SettingsService
@inject IJikanService JikanService
@inject IAnimeRepository AnimeRepository
@inject IJSRuntime JS

<link href="css/responsive/Schedule.css" rel="stylesheet" />

<div class="aniwari-content schedule">
    @{
        List<DayOfWeek> days = new();
        var today = DateTime.Now.DayOfWeek;
        days.Add(today);

        for (int i = 1; i < 7; ++i)
        {
            int nextDay = (int)today + 1;
            if (nextDay > 6) nextDay = 0;
            today = (DayOfWeek)nextDay;
            days.Add(today);
        }
    }

    @foreach (DayOfWeek day in days)
    {
        if (!dict.ContainsKey(day))
            continue;

        bool hasAnime = dict[day].Count > 0;

        <div class="aniwari-card schedule-day @(day.ToString().ToLower()) @(hasAnime ? "" : "noanime")">
            <div class="schedule-header">
                <div class="schedule-date">
                    <div class="schedule-date__relative-name">
                        @dateMap[day].RelativeName
                    </div>
                    <div class="schedule-date__date">
                        @dateMap[day].Date.ToString("MMM dd")
                    </div>
                </div>
                <div class="schedule-header__title">
                    @day.ToString()
                </div>
            </div>

            @if (hasAnime)
            {
                <hr>

                List<JikanAnime> animes = new();

                if (SettingsService.GetStore().PreferredTime == PreferredTime.JST)
                {
                    animes = dict[day].OrderBy(x => x.JSTAirTime).ToList();
                }
                else if (SettingsService.GetStore().PreferredTime == PreferredTime.Local)
                {
                    animes = dict[day].OrderBy(x => x.LocalAirTime).ToList();
                }

                <div class="schedule-day__body">
                    @foreach (var anime in animes)
                    {
                        <ScheduleItem @key="@anime.MalId" Anime="@anime" />
                    }
                </div>
            }
            else
            {
                <div class="schedule-header__noanime">
                    No anime airs on this day
                </div>
            }
        </div>
    }

</div>

@code {
    private IJSObjectReference? module;
    private Dictionary<DayOfWeek, List<JikanAnime>> dict = new();
    private Dictionary<DayOfWeek, WeekdayDate> dateMap = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var today = DateTime.Now.DayOfWeek;

        foreach (DayOfWeek day in Enum.GetValues(typeof(DayOfWeek)))
        {
            dict.Add(day, new List<JikanAnime>());

            // the current day is today
            if (today == day)
            {
                dateMap.Add(day, new WeekdayDate("Today", DateOnly.FromDateTime(DateTime.Now)));
            }
            else
            {
                var dateDiff = day - today;
                dateMap.Add(day, new WeekdayDate("", DateOnly.FromDateTime(DateTime.Now.AddDays(dateDiff))));
            }
        }

        module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Schedule.razor.js");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            // cache is empty
            if (SettingsService.GetStore().JikanCache.Count == 0)
            {
                List<JikanAnime> jikanCache = new();
                await foreach (var list in JikanService.GetSchedule(CancellationTokenSource.Token))
                {
                    LoadAnime(list);
                    jikanCache.AddRange(list);
                }

                SettingsService.GetStore().JikanCache = jikanCache;

                // if the store needed updates, save to disk
                await SettingsService.SaveAsync();
            }
            else // reuse cache
            {
                LoadAnime(SettingsService.GetStore().JikanCache);
            }

            //if (module != null && !Disposed)
            //{
            //    await module.InvokeVoidAsync("scrollToDay", CancellationTokenSource.Token, DateTime.Now.DayOfWeek.ToString());
            //}
        }
    }

    private void LoadAnime(List<JikanAnime> animeList)
    {
        foreach (var anime in animeList)
        {
            // add to the dictionary per day
            if (SettingsService.GetStore().PreferredTime == PreferredTime.JST)
            {
                dict[anime.JSTScheduleDay].Add(anime);
            }
            else if (SettingsService.GetStore().PreferredTime == PreferredTime.Local)
            {
                dict[anime.LocalScheduleDay].Add(anime);
            }

            // update the local store
            AnimeRepository.AddAnime(anime);
        }

        StateHasChanged();
    }

    private record WeekdayDate(string RelativeName = "", DateOnly Date = default);
}
