@using Aniwari.BL.Interfaces;
@using Aniwari.DAL.Constants;
@using Aniwari.DAL.Storage;
@using Aniwari.Managers;
@using Aniwari.Platforms;
@using Aniwari.Settings;

@page "/settings"

@inject IJSRuntime JS
@inject ISettingsService SettingsService
@inject ITorrentService TorrentService
@inject IFolderPicker FolderPicker
@inject IThemeManager Theme

@if (Store == null) return;

<link href="css/responsive/Settings.css" rel="stylesheet" />

<div class="aniwari-content settings">
    <div class="aniwari-card">
        @foreach (var (propertyName, setting) in SettingsService.GetStore().GetSettings())
        {
            <div @key="propertyName" class="settings-item">
                <div class="settings-item__description">
                    @setting.Description
                </div>
                <div class="settings-item__control">
                    @if (propertyName == nameof(SettingsStore.ThemeColor))
                    {
                        <div class="button-wrapper">
                            <div class="accent-preview" title="Accent color">
                            </div>
                            <input type="color" value="@(Store.Get<string>(propertyName))"
                           @oninput="(e) => OnThemeColorChanged(e, propertyName, setting, false)"
                           @onchange="(e) => OnThemeColorChanged(e, propertyName, setting, true)" />

                            <button @onclick="OnThemeResetClicked">
                                Reset
                            </button>
                        </div>
                    }
                    else if (propertyName == nameof(SettingsStore.EnableDarkMode))
                    {
                        <div class="button-wrapper">
                            <SettingCheckbox IsChecked="Store.EnableDarkMode" OnChange="OnDarkModeChanged" />
                        </div>
                    }
                    else if (propertyName == nameof(SettingsStore.ArchivePath))
                    {
                        <div class="button-wrapper">

                            <div>
                                @(EllipsePath(Store.Get<string>(propertyName) ?? ""))
                            </div>

                            <button @onclick="OnArchivePathBrowse">
                                Browse
                            </button>

                            <button @onclick="async () => {
                                        Store!.Set(setting.Type, propertyName, setting.DefaultValue);
                                        await SettingsService.SaveAsync();
                                    }">
                                Reset
                            </button>
                        </div>
                    }
                    else if (propertyName == nameof(SettingsStore.MaximumSeedRatio))
                    {
                        <div class="button-wrapper">
                            <SettingSpinner title="-1 = Unlimited" MinValue="-1" Step="0.1m" TValue="decimal" Value="@(Store.Get<decimal>(propertyName))" OnChange="async (e) => {
                                var value = ClampUnlimited(e.Old, e.New);
                                if (value == null) return;
                                Store.Set<decimal>(propertyName, value.Value);
                                await SettingsService.SaveAsync();
                                e.Handled = true;
                            }" />

                            <button @onclick="async () => {
                                        Store.Set(setting.Type, propertyName, setting.DefaultValue);
                                        await SettingsService.SaveAsync();
                                    }">
                                Reset
                            </button>
                        </div>
                    }
                    else if (propertyName == nameof(SettingsStore.MaximumDownloadSpeed) || propertyName == nameof(SettingsStore.MaximumUploadSpeed))
                    {
                        <div class="button-wrapper">
                            <SettingSpinner title="-1 = Unlimited" MinValue="-1" Step="1000" TValue="int" Value="@(Store.Get<int>(propertyName))" OnChange="async (e) => {
                                var value = ClampUnlimited(e.Old, e.New);
                                if (value == null) return;
                                Store.Set<int>(propertyName, value.Value);
                                await SettingsService.SaveAsync();
                                await TorrentService.ApplySettings();
                                e.Handled = true;
                            }" />
                            <label>
                                kB/s
                            </label>

                            <button @onclick="async () => {
                                        Store.Set(setting.Type, propertyName, setting.DefaultValue);
                                        await SettingsService.SaveAsync();
                                    }">
                                Reset
                            </button>
                        </div>
                    }
                    else if (propertyName == nameof(SettingsStore.PreferredTime))
                    {
                        <div class="button-wrapper">
                            <SettingSelect TValue="PreferredTime" Value="@(Store.Get<PreferredTime>(propertyName))" OnChange="async (value) => {
                                    Store.Set(setting.Type, propertyName, value);
                                    await SettingsService.SaveAsync();
                            }"/>

                            <button @onclick="async () => {
                                        Store.Set(setting.Type, propertyName, setting.DefaultValue);
                                        await SettingsService.SaveAsync();
                                    }">
                                Reset
                            </button>
                        </div>
                    }
                    else if (propertyName == nameof(SettingsStore.PreferredTitleLanguage))
                    {
                        <div class="button-wrapper">
                            <SettingSelect TValue="PreferredTitleLanguage" Value="@(Store.Get<PreferredTitleLanguage>(propertyName))" OnChange="async (value) => {
                                    Store.Set(setting.Type, propertyName, value);
                                    await SettingsService.SaveAsync();
                            }"/>

                            <button @onclick="async () => {
                                        Store.Set(setting.Type, propertyName, setting.DefaultValue);
                                        await SettingsService.SaveAsync();
                                    }">
                                Reset
                            </button>
                        </div>
                    }
                    else if (setting.Type == typeof(bool))
                    {
                        <div class="button-wrapper">
                            <SettingCheckbox IsChecked="@(Store.Get<bool>(propertyName))" OnChange="async (value) => {
                                Store.Set<bool>(propertyName, value);
                                await SettingsService.SaveAsync();
                            }" />
                        </div>
                    }
                    else if (setting.Type == typeof(decimal))
                    {
                        <div class="button-wrapper">
                            <SettingSpinner TValue="decimal" Value="@(Store.Get<decimal>(propertyName))" OnChange="async (e) => {
                                if (e.New == null) return;
                                Store.Set<decimal>(propertyName, e.New.Value);
                                await SettingsService.SaveAsync();
                            }" />

                            <button @onclick="async () => {
                                        Store.Set(setting.Type, propertyName, setting.DefaultValue);
                                        await SettingsService.SaveAsync();
                                    }">
                                Reset
                            </button>
                        </div>
                    }

                </div>
            </div>

            <hr />
        }

        <div class="settings-item">
            <div class="settings-item__description">
                Delete watchlist
            </div>
            <div class="settings-item__control">
                <button @onclick="OnDeleteWatchlistClicked">
                    Delete
                </button>
            </div>
        </div>

        <hr />

        <div class="settings-item">
            <div class="settings-item__description">
                Set default settings
            </div>
            <div class="settings-item__control">
                <button @onclick="OnRestoreClicked">
                    Restore
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    private SettingsStore? Store;

    private IJSObjectReference? module;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Store = SettingsService.GetStore();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Settings.razor.js");
    }

    private async Task OnThemeColorChanged(ChangeEventArgs args, string propertyName, Setting setting, bool save)
    {
        string color = (string?)args.Value ?? ThemeColors.LightColor;
        Store!.Set(propertyName, color);
        await Theme.SetThemeColor(JS);

        if (save)
            await SettingsService.SaveAsync();
    }

    private async Task OnThemeResetClicked()
    {
        Store!.ThemeColor = ThemeColors.LightColor;
        await Theme.SetThemeColor(JS);
    }

    private async Task OnDarkModeChanged(bool value)
    {
        Store!.EnableDarkMode = value;

        await Theme.SetThemeColor(JS);
        await SettingsService.SaveAsync();
    }

    private async Task OnArchivePathBrowse()
    {
        var folder = await FolderPicker.PickFolder();
        if (folder != null)
        {
            Store!.Set(nameof(SettingsStore.ArchivePath), folder);
            await SettingsService.SaveAsync();
        }
    }

    private string EllipsePath(string path)
    {
        const int maxSize = 50;

        if (path.Length > maxSize)
        {
            List<string> split = path.Split('\\').ToList();
            string str = path;

            while (str.Length > maxSize && split.Count > 2)
            {
                int mid = split.Count / 2;
                split.RemoveRange(mid, 2);
                split.Insert(mid, "...");
                str = string.Join("\\", split);
            }

            return str;
        }

        return path;
    }

    private async Task OnRestoreClicked()
    {
        foreach (var (propertyName, setting) in SettingsService.GetStore().GetSettings())
        {
            Store!.Set(setting.Type, propertyName, setting.DefaultValue);
            if (propertyName == nameof(SettingsStore.ThemeColor))
            {
                await Theme.SetThemeColor(JS);
            }
        }

        await SettingsService.SaveAsync();
    }

    private async Task OnDeleteWatchlistClicked()
    {
        Store!.Animes.Clear();
        await SettingsService.SaveAsync();
    }

    private Nullable<T> ClampUnlimited<T>(Nullable<T> previous, Nullable<T> current) where T : struct, System.Numerics.INumber<T>
    {
        if (previous <= -T.One && current > -T.One)
            return T.Zero;

        else if (previous >= T.Zero && current < T.Zero)
            return -T.One;

        return current;
    }
}
