@using Aniwari.BL.Repositories;

@implements IDisposable

@inject IMessageBusService MessageBusService
@inject IAnimeRepository AnimeRepository

@if (Anime == null) return;

<div class="schedule-item @(watching ? "watching" : "") @(expanded ? "expanded" : "")" @onclick="OnRowClicked">
    <div class="schedule-item__time" title="@Anime.RawAirTime">
        @(Anime.AirTime == null ? "??:??" : Anime.AirTime.Value.ToString("HH:mm"))
    </div>
    <div class="schedule-item__watch">
        <WatchButton Anime="Anime"/>
    </div>
    <div class="schedule-item__title">
        @Anime.GetDefaultTitle()
    </div>
</div>

@if (expanded || expanding)
{
    <div class="schedule-item-detail @(expandingClass) @(watching ? "watching" : "")">
        <img class="schedule-item-detail__img" src="@Anime.Image" />
        <div class="schedule-item-detail__info">

            <div class="schedule-item-detail__group">
                <div class="schedule-item-detail__label">
                    Known as
                </div>
                <div class="schedule-item-detail__text">
                    @string.Join("; ", Anime.Titles.SelectMany(x => x.Value).ToArray())
                </div>
            </div>

            <div class="schedule-item-detail__group">
                <div class="schedule-item-detail__label">
                    Link to MAL
                </div>
                <div class="schedule-item-detail__text text-break">
                    <a href="@Anime.Url">@Anime.Url</a>
                </div>
            </div>

            <div class="schedule-item-detail__group">
                <div class="schedule-item-detail__label">
                    Synopsis
                </div>
                <div class="schedule-item-detail__text">
                    @Anime.Synopsis
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public AnimeSchedule? Anime { get; set; }

    private bool _disposed = false;

    private bool watching = false;
    private bool expanded = false;
    private bool expanding = false;
    private string expandingClass = "expanding";

    List<ISubscription> subscriptions = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Anime != null)
        {
            watching = AnimeRepository.GetAnimeWatching(Anime.MalId);
        }

        if (!_disposed)
        {
            subscriptions.Add(MessageBusService.Subscribe<AnimeWatchingChanged>(x =>
            {
                if (Anime == null || x.Anime.Id != Anime.MalId)
                    return;

                watching = AnimeRepository.GetAnimeWatching(Anime.MalId);
                StateHasChanged();
            }));
        }
    }

    private async Task OnRowClicked()
    {
        if (expanding)
            return;

        expanding = true;

        if (!expanded)
        {
            expanded = true;
            expandingClass = "expanding";
            await Task.Delay(100);
            StateHasChanged();
            expandingClass = "";
            StateHasChanged();
            await Task.Delay(450);
        }
        else
        {
            expandingClass = "expanding";
            await Task.Delay(450);
            expanded = false;
        }

        expanding = false;
        StateHasChanged();
        expandingClass = "";
    }

    public void Dispose()
    {
        _disposed = true;

        foreach (var subscription in subscriptions)
        {
            MessageBusService.Unsubscribe(subscription);
        }
    }
}
