@using Aniwari.BL.Services;
@using Aniwari.BL.Repositories;
@using Aniwari.Schedule;

@page "/schedule"

@inherits DisposableComponentBase

@inject ISettingsService SettingsService
@inject IScheduleService ScheduleService
@inject IAnimeRepository AnimeRepository
@inject IJSRuntime JS

<div class="schedule">
    @foreach (ScheduleDay day in Enum.GetValues<ScheduleDay>())
    {
        bool hasAnime = dict[day].Count > 0;

        <div class="aniwari-card schedule-day @(day.ToString().ToLower()) @(hasAnime ? "" : "noanime")">

            <div class="schedule-header">
                <div class="schedule-date">
                    <div class="schedule-date__relative-name">
                        @dateMap[day].RelativeName
                    </div>
                    <div class="schedule-date__date">
                        @dateMap[day].Date.ToString("MMM dd")
                    </div>
                </div>
                <div class="schedule-header__title">
                    @day.ToString()
                </div>
            </div>

            @if (hasAnime)
            {
                <hr>

                <div class="schedule-day__body">
                    <Virtualize Context="anime" Items="@dict[day].OrderBy(x => x.AirTime).ToList()">
                        <AnimeRow @key="@anime.MalId" Anime="@anime" />
                    </Virtualize>
                </div>
            }
            else
            {
                <div class="schedule-header__noanime">
                    No anime airs on this day
                </div>
            }
        </div>
    }

</div>

@code {
    private IJSObjectReference? module;

    private Dictionary<ScheduleDay, List<AnimeSchedule>> dict = new();

    private Dictionary<ScheduleDay, WeekdayDate> dateMap = new();

    private ScheduleDay GetToday() => Enum.Parse<ScheduleDay>(DateTime.Now.DayOfWeek.ToString());

    private SettingsStore? Store;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Store = SettingsService.GetStore();

        var today = GetToday();

        foreach (ScheduleDay day in Enum.GetValues(typeof(ScheduleDay)))
        {
            dict.Add(day, new List<AnimeSchedule>());

            // the current day is today
            if (today == day)
            {
                dateMap.Add(day, new WeekdayDate("Today", DateOnly.FromDateTime(DateTime.Now)));
            }
            else
            {
                var dateDiff = day - today;
                dateMap.Add(day, new WeekdayDate("", DateOnly.FromDateTime(DateTime.Now.AddDays(dateDiff))));
            }
        }

        await foreach (var list in ScheduleService.GetSchedule(CancellationTokenSource.Token))
        {
            foreach (var (day, anime) in list)
            {
                // add to the dictionary per day
                dict[day].Add(anime);

                // update the local store
                AnimeRepository.AddAnime(anime.MalId, anime.GetDefaultTitle(), anime.Episodes);
            }

            StateHasChanged();
        }

        // if the store needed updates, save to disk
        await SettingsService.SaveAsync();

        if (!Disposed)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Schedule.razor.js");
            await module.InvokeVoidAsync("scrollToDay", CancellationTokenSource.Token, GetToday().ToString());
        }
    }

    private record WeekdayDate(string RelativeName = "", DateOnly Date = default);
}
